<div class="d-flex">
  <% users.each do |user| %>
    <div class="m-2">
      <%= link_to user_path(user), class: "text-reset text-decoration-none" do %>
      <div class="card">
        <div class="card-body text-center pb-0">
          <%= image_tag user.get_icon, size: "96x96" %>
          <h6 class="text-center align-items-center d-flex" style="width: 10rem; height: 2.5rem"><%= user.name %></h6>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>