<div class="container">
  <div class="row d-flex">
    <!--左側・ユーザー情報-->
    <div class="col-md-4">
      <%= render 'info', user: @user %>
    </div>
    <!--右側・各種一覧-->
    <div class="col-md-8 border border-2">
      <!--タブ-->
      <ul class="nav nav-tabs nav-pills" role="tablist">
        <li class="active" role="presentation">
          <a class="nav-link text-muted" aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">ユーザーの投稿一覧</a>
        </li>
        <li role="presentation">
          <a class="nav-link text-muted" aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">いいね！した投稿</a>
        </li>
        <li role="presentation">
          <a class="nav-link text-muted" aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">フォロー中・フォロワー一覧</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_a" role="tabpanel">
          <%= render 'posts/index', posts: @posts, flag: false %>
        </div>
        <div class="tab-pane" id="tab_b" role="tabpanel">
          <%= render 'posts/index', posts: @favorite_posts, flag: false %>
        </div>
        <div class="tab-pane" id="tab_c" role="tabpanel">
          <h1>仮置き</h1>
        </div>
      </div><!--タブの中身ここまで-->
    </div><!--右側ここまで-->
  </div>
</div>