@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// タブ関連
.nav-link {
  background: #fff4e4;
  text-decoration: none;
  color: black;
}
.nav-link:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}
.nav-link:active {
  background: #d1ffd1;
}
// リンク関連
.link{
  text-decoration: none;
  color: black;
}
.link:hover{
  color: black;
}
.link:visited{
  text-decoration: none;
  color: #858585;
}
// 検索バーの幅
.search-area{
  width: 500px;
  margin: 2rem auto;
}