<div>
  <%= link_to user_path(post.user_id), class: "d-flex user-link" do %>
    <%= image_tag post.user.get_icon, size: "64x64" %>
    <div class="username"><%= post.user.name %></div>
  <% end %>
</div>
