<div class="col-6 overflow-auto p-0" style="height: 990px">
  <div class="ml-auto mr-4" style="width: 700px">
  <%= image_tag "sample_image.png" if post.new_record? %><!--新規投稿画面ではサンプルを表示-->
  <% unless post.new_record? %><!--詳細・編集画面では添付画像を表示-->
    <% post.images.each do |image| %>
      <!--画像を中心基準で幅700で切り抜く(高さはそのままにするために適当に大きな数値)-->
      <%= image_tag image.variant( gravity: "center", crop: "700x1500+0+0").processed %>
    <% end %>
  <% end %>
  </div>
</div>