  <%= search_form_for q, url: posts_path do |f| %>
    <div class="input-group search-area my-3">
      <%= f.label :title_or_content_cont, "タイトルまたは本文中", class: "label" %>
      <%= f.search_field :title_or_content_cont, class: "form-control", placeholder: "Search..." %>
      <%= button_tag type: "submit", class: "btn btn-light " do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %>