<div class="container-fluid">
  <div class="row">
    <%= render "image", post: @post %><!--左側  画像エリア-->
    <div class="col-auto justify-content-center border border-2" style="background-color:#fff2e5">
    <h3>投稿の編集</h3>
    <%= render "form", post: @post %>
  </div>
  </div>
  
</div>
