<div class="container-fluid">
  <div class="d-flex">
    <div class="sidebar">
      <h5>タグリスト</h5>
      <% @tag_list.each do |list| %>
        <% if list.posts.count > 0 %>
          <%= link_to list.tag_name, tag_posts_path(tag_id: list.id) %>
          <%= "(#{list.posts.count})" %>
        <% end %>
      <% end %>
    </div>
    <div>
      <div class="d-flex justify-content-between">
      <h3 class="my-2">
        <% if params[:ranking] %>
          人気の投稿
        <% elsif params[:following] %>
          フォローユーザーの投稿
        <% else %>
          新着投稿
        <% end %>
      </h3>
      <%= render "search_form", q: @q %>
    </div>
    <%= render "index", posts: @posts, line: false %>
    </div>
  </div>
</div>