<div class="container-fluid">
  <div class="row">
    <!--左側　注意書き画像エリア-->
    <%= render "image", post: @post %>
    <div class="col-4 border border-2" style="background-color:#fff2e5">
      <h3>新規投稿</h3>
      <%= render "form", post: @post %>
    </div>
  </div>
</div>